{
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
  "trailingComma": "none",
  "arrowParens": "avoid",
  "singleQuote": true,
  "printWidth": 100,
  "useTabs": false,
  "tabWidth": 2,
  "semi": false,
  "importOrder": [
		"<THIRD_PARTY_MODULES>",
		"(.interface)$",
		"^@/components/(.*)$",
		"^@/providers/(.*)$",
		"^@/services/(.*)$",
		"^@/assets/(.*)$",
		"^@/types/(.*)$",
		"^@/hooks/(.*)$",
		"^../(.*)",
		"(.scss)$",
		"^public/(.*)$"
	],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}