@import '@/assets/styles/_variables.scss';

.auth {
  display: flex;
  height: 100vh;

  &__image {
    flex: 1 1 50%;
    background-image: url('../../../../public/Auth/bg.png');
    min-height: 100%;
    background-size: cover;
  }

  &__content {
    flex: 1 1 60%;
  }

  &__wrapper {
    max-width: 500px;
    margin-left: 70px;
    padding: 0px 15px;

  }

  &__main {}

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &__logo {}

  &__back {}

  &__closeBg {
    padding: 9px;
    border-radius: 50px;
    border: 1px solid #e8e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: #EBEDF0;
      border: 1px solid #EBEDF0;
    }
  }

  &__choice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease-in;
  }

  &__active {
    background-color: $blue !important;
    color: #fff !important;
    border: none !important;
    border: 1px solid $blue !important;
    user-select: none;
  }

  &__applicant {
    flex: 1 1 50%;
    border-radius: 15px 0px 0px 15px;

    border-bottom: 1px solid #BCBCBC;
    border-top: 1px solid #BCBCBC;
    border-left: 1px solid #BCBCBC;
    border-right: 1px solid transparent;

    padding: 11px 0;
    transition: all .4s ease-in;

    &:hover {
      border-bottom: 1px solid $blue;
      border-top: 1px solid $blue;
      border-left: 1px solid $blue;
    }
  }

  &__employer {
    flex: 1 1 50%;
    border-radius: 0px 15px 15px 0px;

    border-bottom: 1px solid #BCBCBC;
    border-top: 1px solid #BCBCBC;
    border-right: 1px solid #BCBCBC;
    border-left: 1px solid transparent;

    padding: 11px 0;
    transition: all .4s ease-in;

    &:hover {
      border-bottom: 1px solid $blue;
      border-top: 1px solid $blue;
      border-right: 1px solid $blue;
    }
  }
}