@import '@/assets/styles/_variables.scss';

.auth {
  display: flex;
  height: 100vh;

  &__image {
    flex: 1 1 50%;
    background-image: url('../../../../public/Auth/bg.png');
    min-height: 100%;
    background-size: cover;
  }

  &__content {
    flex: 1 1 60%;
  }

  &__wrapper {
    max-width: 500px;
    margin-left: 70px;
    padding: 0px 15px;

  }

  &__main {}

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}