.enterprises {
		&__header {
               margin-top: 40px;    
               display: flex;  
		}

          &__left {
               display: flex;
               flex-direction: column;
               flex: 1 0 40%;
               margin-right: 30px;
          }

		&__title {
               font-weight: 800;
               font-size: 35px;
               line-height: 36px;
               color: #232323;
		}

		&__search {
               display: inline-flex;
               padding: 30px 0 20px 0;
               border-radius: 10px;

               input {
                    width: 390px;
                    padding: 15px 15px;
                    border: 1px solid #B4B1B1;
                    border-radius: 10px 0 0 10px;
                }
		}

          &__btn {
               background: #3692DC;
               border: 1px solid #3692DC;
               border-radius: 0 10px 10px 0;
               display: flex;
               
     
               button {
                    padding: 6px 25px;
                    color: #fff;
                    font-size: 20px;
                    line-height: 24px;
               }
          }

          &__searchButton {
               display: flex;
               flex-wrap: wrap;

               & > * {
                    margin-right: 10px;
               }
               
          }

          &__right {
               display: flex;
               flex-direction: column;
               flex: 1 0 40%;
               
              & > * {
                    border-radius: 30px;
                    border: 1px solid #d3d3d3
              }

          }

          &__card {
               display: flex;
               flex-wrap: wrap;
               margin: 0px -15px;
               padding-top: 40px;
          }

}
