.custom-select {
  &--is-disabled {
    cursor: not-allowed !important;
    background-color: #f3f3f3 !important;
  }

  &__control {
    background-color: transparent !important;
    border: 1px solid #c2bfbf !important;
    border-radius: 5px !important;
    box-shadow: none !important;
    min-height: 33px !important;
    min-height: 33px !important;
    max-height: auto;
    font-family: inherit;
    font-size: inherit;
    font-weight: 400 !important;

    &--menu-is-open {}

    &:invalid {
      border-color: red; /* Установите желаемый цвет границы */
    }
  }

  &__option {
  }

  &__value-container {
    min-height: 33px !important;
    max-height: auto;
    cursor: text !important;
  }

  &__input-container {
  }

  &__input:disabled {
    background: #f3f3f3 !important;
    cursor: not-allowed !important;
  }

  // текст внутри
  &__single-value {
    font-family: $fontFamily !important;
    color: $colorText !important;
    font-weight: 400 !important;
  }

  &__indicators {
    cursor: pointer;
    height: 31px !important;
  }

  &__indicator {
    color: $grey;
  }

  &__menu {
  }

  &__menu-list {
    height: 200px !important;

    background-color: #ffffff !important;
  }

  &__option {
    cursor: pointer !important;

    &--is-focused {
      //background-color: lighten($blue, 20%) !important;
    }
  }

  &__multi-value {
    background-color: #ebeaea !important;
    padding: 3px 10px !important;
    border-radius: 10px !important;
    cursor: pointer !important;
  }
}
