html,
body {
  height: 100%;
  line-height: 1;
  font-weight: 400;
  color: $colorText;
  font-size: $fontSize;
  font-family: $fontFamily;
  background-color: $background;
}

* {
  box-sizing: border-box;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page {
  flex: 1 1 100%;
  min-height: 100%;
}

[class*='__container'] {
  max-width: $containerWidth;
  margin: 0px auto;
  padding: 0px $containerPadding;
  width: 100%;
  height: 100%;
}

input:disabled {
  background: #f3f3f3;
  cursor: not-allowed !important;
}

.spinerLoading {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
