/*========== MAIN COLOR ==========*/

$colorText: #232323;
$background: #F5F5F5;

$dark: #1A1E24;
$darkBlue: #041A36;
$grey: #BCBCBC;;
$blue: #3490DF;
$pink: #FD7791;

$blueHover: #307ec2;
$pinkHover: #fd607d;


/*========== PAGE ==========*/

$containerWidth: 1300px;
$containerPadding: 30px;

$fontFamily: 'Inter', sans-serif;
$fontSize: 14px;

