/*========== MAIN COLOR ==========*/

$colorText: #242424;
$background: #F5F5F5;


/*========== PAGE ==========*/

$containerWidth: 1500px;
$containerPadding: 30px;

$fontFamily: 'Roboto', sans-serif;
$fontSize: 14px;

