/*========== MAIN COLOR ==========*/

$colorText: #242424;
$background: #F5F5F5;
$blue: #328EE3;
$pink: #DC3150;


/*========== PAGE ==========*/

$containerWidth: 1500px;
$containerPadding: 30px;

$fontFamily: 'Inter', sans-serif;
$fontSize: 14px;

