.userProfile {

		&__tools {
		}
}
.tools-userProfile {

		&__content {
			
		}

		&__block {
			display: flex;
			margin-bottom: 70px;
		}

		&__title {
			font-weight: 400;
			font-size: 20px;
			line-height: 24px;
			color: #232323;
		}

		&__input {
			display: flex;
			flex-direction: column;

			& p {
				font-size: 16px;
				line-height: 19px;
				color: #4E4D4D;
				margin-bottom: 30px;
				display: flex;
				align-items: center;

				& input {
					width: 20px;
					height: 20px;
					margin-right: 10px;
				}
			}
		}
}
