.form_select {

    select {
        width: 100%;
        border: 1px solid #C2BFBF;
        border-radius: 12px;
        padding: 15px 15px;
        background-color: rgba(219, 221, 255, 0.244);
        font-size: 18px;
    }
}