.btn__link {
     padding: 7px 20px;
     background: #f3f1f1;
     border: 1px solid #d3d0d0;
     border-radius: 6px;
     display: inline-flex;
     transition: all 0.4s ease-out;
     justify-content: center;


     .link {
          font-size: 15px;
          line-height: 21px;
          color: #050505;
     
     }
}

.btn__link:hover {
     background-color: #dddbdb;

}