.btn__link {
     padding: 10px 25px;
     background-color: #D6D9DC;
     border-radius: 20px;
     display: inline-flex;
     transition: all 0.4s ease-out;
     justify-content: center;


     .link {
          font-size: 17px;
          line-height: 21px;
          color: #050505;
     
     }
}

.btn__link:hover {
     background-color: #b4b4b4;

}