.button {
     background-color: #D6D9DC;
     border-radius: 20px;
     display: inline-flex;
     padding: 10px 15px;

     button {
          font-size: 17px;
          line-height: 21px;
          color: #050505;
     }
}