.submit {

   
     

     transition: all 0.2s ease-in;



     &__link {
          border-radius: 15px;
          display: flex;
          justify-content: center;
          color: #fff;
          font-weight: 500;
          font-size: 17px;
          line-height: 21px;
          padding: 10px 0;
          width: 100%;
          background-color: #DB435F;

          &:hover {
               background-color: #fa2c52;
          }
     }
}