@import '@/assets/styles/_variables.scss';

.field {
  &__input {
    border-radius: 5px;
    border: 1px solid #c2bfbf;
    width: 100%;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  input {
    padding: 10px 0 10px 10px;
    width: 100%;
    border-radius: 5px;
    &:hover {
      cursor: text;
    }
  }

  &__checkPassword {
    margin-right: 20px;
    cursor: pointer;
  }

  &__error {
    color: red;
    margin-top: 6px;
    font-size: 12px;
  }

  &__errorBorder {
    border: 1px solid red !important;

    &::placeholder {
      color: red !important;
    }
  }

  &__title {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 15px;
    user-select: none;
  }

  &__head {
    display: flex;
    gap: 2px;
  }

  &__required {
    color: red;
    font-size: 15px;
    user-select: none;
  }
}
