@import '@/assets/styles/_variables.scss';

.field {
  input {
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    border: 1px solid #C2BFBF;
    width: 100%;
    font-size: 13px;

    &:focus {
      border: 1px solid $blue !important;
    }
  }

  &__error {
    color: red;
    margin-top: 6px;
    font-size: 12px;
  }

  &__errorBorder {
    border: 1px solid red !important;

    &::placeholder {
      color: red !important;
   }
  }

  &__title {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 15px;
  }

  &__head {
    display: flex;
    gap: 2px;
  }

  &__required {
    color: red;
    font-size: 15px;
  }
}