@import '@/assets/styles/_variables.scss';

.companiesCard {
  display: block;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.11);
  transition: all 0.4s ease;

  flex: 0 0 32%;

  &:hover {
    transform: translateY(-4%);
    box-shadow: 10px 11px 4px 0px rgba(0, 0, 0, 0.11);
  }

  &__wrapper {
    padding: 16px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
  }

  &__name {
    color: $darkBlue;
    font-size: 18px;
    font-weight: 600;
  }

  &__reviews {
    display: flex;
    align-items: center;  
    gap: 10px;

    span {
      color: $blue;
      font-weight: 500;
      text-decoration-line: underline;
    }
  }

  &__reviewsStar {
    display: flex;
    gap: 3px;
  }

  &__count {
    font-weight: 500;
    text-decoration-line: underline;
  }

  &__logo {
    img {
      border-radius: 50px;
    }
  }

  &__items {
    & > * {
      margin-bottom: 10px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 300px;
  }
}