.loguser {
     margin-top: -60px;
          &__log_container {
               max-width: 600px;
               padding: 0px 15px;
               margin: 0px auto;
               width: 100%;

          }

		&__wrapper {
               display: flex;
               justify-content: space-between;

              
		}

		&__bg {
               background-image: url(../../../assets/Login/bg.jpg);
               background-repeat: no-repeat;
               background-size: cover;  
               height: 100vh;
               flex: 1 0 50%;
		}

		&__content {
               overflow: hidden;
               flex: 1 0 50%;
               margin-top: 30px;

		}

          &__header {
               display: flex;
               justify-content: space-between;
               align-items: center;
          }

          &__back {
               border: 1px solid #C9C9C9;
               font-size: 15px;
               line-height: 18px;
               color: #6D6D6D;
               padding: 7px 27px;
               border-radius: 17px;
          }

          &__nav {
               margin-top: 50px;
          }

          &__title {
               font-weight: 700;
               font-size: 30px;
               line-height: 21px;
               text-align: center;
               margin-top: 55px;
               border-bottom: 1px solid grey;
               padding-bottom: 15px;
          }

          &__form {
               margin-top: 30px;
          }

          &__form >*:not(:last-child) {
               margin-bottom: 30px;
          }

          &__pas {

               display: flex;
               justify-content: center;
               margin-top: 12px;
               margin-bottom: 10px;

               a {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    color: #7A7878;

                    &:hover {
                         text-decoration: underline;
                    }
               }
          }



          &__regist {
               display: flex;
               justify-content: center;
               border-top: 1px solid grey;
               padding-top: 10px;

               a {
                    display: inline-flex;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    color: #7A7878;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
               }

               & > *:hover {
                    text-decoration: underline;
               }
          }

          &__social {
               font-weight: 500;
               font-size: 14px;
               line-height: 17px;
               color: #7A7878;
               margin-top: 20px;


          }

          &__social_icon {
               display: flex;
               justify-content: center;
               margin: 15px;
               

               & > * {
                    margin-left: 20px;
               }
          }

}
