.btn__link {
     // background-color: #136F63;
     // padding: 24px 72px;
     // border: 2px solid #2FCFBA;
     // border-radius: 20px;
     // transition: all 0.4s ease-out;

     .link {
          background-color: #136F63;
          padding: 24px 72px;
          border: 2px solid #2FCFBA;
          border-radius: 20px;
          transition: all 0.4s ease-out;
          color: #fff;
          font-size: 17px;
          text-align: center;
     }
}

.link:hover {
     background-color: #1ca693;
     border: 2px solid #1d7f72;

}