
.subTitle-profile__star {
     color: red;
}

.subTitle-profile__title {
     font-size: 17px;
     line-height: 25px;
     color: #706e6e;
     margin-right: 70px;
     width: 200px;
}

.subTitle-profile__title_info {
     font-size: 17px;
     line-height: 25px;
     color: #706e6e;
     margin-right: 70px;
     width: 10px;
}