.input_block {
    height: 88px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-right: 70px;

    &__title {
        font-size: 17px;
        font-style: italic;
        font-weight: 700;
        margin-left: 5px;
    }

    span {
        color: red;
    }
}