@import '@/assets/styles/_variables.scss';

.companies {
  margin-top: 63px;
  
  &__head {}

  &__ribbon {
 
  }
}

.head {
  background-color: #fff;
  padding: 30px 0;

  &__wrapper {

  }

  &__title {
    color: $darkBlue;
    font-size: 30px;
    font-weight: 900;
  }

  &__subTitle {
    color: $grey;
    font-size: 14px;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $grey;
  }

  &__searchBlock {
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
  }

  &__search {
    display: flex;
    padding: 0 0 0 10px;
    align-items: center;
    border: 1px solid $grey;
    border-radius: 5px;
    width: 300px;
    gap: 10px;

    input {
      padding: 10px 0 10px 10px;
      width: 100%;
    }
  }

  &__icon {}

  &__button {
    background-color: $blue;
    color: #fff;
    padding: 11px 45px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

    &:hover {
      background-color: $blueHover;
    }
  }

  &__typeCompany {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
  }

  &__typeItem {
    color: $blue;
    cursor: pointer;
    font-weight: 300;

    span {
      font-weight: 500;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.ribbon {
  padding: 30px 0;
  background-color: #F6FAFF;
  padding-bottom: 50px;

  &__wrapper {}

  &__sort {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
  }

  &__text {
    font-size: 16px;
    cursor: pointer;
    user-select: none;

    span {
      color: $blue;
    }
  }

  &__icon {}

  &__sortMenu {
    position: absolute;
    bottom: -170px;
    left: 0;
    transform: translateY(-10%);
    transition: all .2s ease-in;
    z-index: 1000;

    &_active {
      opacity: 1;
      pointer-events: all;
      transform: translate(0%);
    }

    &_unactive {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__sortWrapper {
    padding: 10px 0;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.51);
    width: 300px;
    transition: all .4s ease-in;
  }

  &__sortList {
    font-size: 15px;
  }

  &__sortItem {
    cursor: pointer;

    &:hover {
      background-color: #dce7fd;
    }
  }

  &__sortLink {
    display: block;
    padding: 15px 0 15px 20px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 25px;
  }
}