@import '@/assets/styles/_variables.scss';

.reviews {
  margin-top: 40px;

  &__wrapper {
    display: flex;
    gap: 70px;
  }

  &__content {
    flex: 1 1 auto;

    & > *:not(:first-child) {
      margin-top: 60px;
    }
  }

  &__aside {
    img {
      position: -webkit-sticky;
      position: sticky;
      top: 70px;
    }
  }

  &__block {
  }

  &__title {
    color: $darkBlue;
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 20px;
  }

  &__contentReviews {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }

  &__card {
    display: flex;
    align-items: center;

    flex: 1 1 40%;

    min-height: 100%;
    border-radius: 10px;
    background: #fff;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
  }

  &__cardReviews {
  }

  &__cardAd {
    position: relative;
    overflow: hidden;
  }

  &__wrapperReviews {
    padding: 15px 35px;

    & > *:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__grade {
    display: flex;
    align-items: center;

    span {
      color: $darkBlue;
      font-size: 28px;
      font-weight: 700;
      margin-right: 15px;
    }
  }

  &__star {
    display: flex;
    gap: 5px;
  }

  &__desc {
  }

  &__link {
    color: $blue;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  &__text {
    color: #6c6a6a;
    line-height: 150%;
    width: 80%;
  }

  &__btn {
    display: inline-flex;
    padding: 10px 20px;
    color: #fff;
    background-color: $blue;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: $blueHover;
    }
  }

  &__pattern {
    position: absolute;
    transform: scale(1.1);
    top: 0;
    right: 20px;
  }

  &__ribbon {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
  }

  &__noReviews {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 15px;

    &_title {
      display: flex;
      margin-bottom: 15px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    &_text {
      color: #3f3f3f;
    }
  }
}
