.reviews {
     display: flex;
     flex-direction: column;
    

     &__top {
          display: flex;
          align-items: center;
     justify-content: center;
     }

     &__title {
          font-weight: 700;
          font-size: 25px;
          line-height: 36px;
          margin-right: 9px;
          color: #000000;
     }

     &__star > * {
          width: 30px;
     }

     &__body {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;

     }

     &__row {
          display: flex;
          align-items: center;
     }

     &__cardUser {
          
     }

     &__blockStar {

          margin-bottom: 4px;
          & > *:not(:last-child) {
               
          }
     }


     &__number {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          text-align: center;
          color: #000000;


     }

     &__line {
          width: 100px;
 
          border-bottom: 7px solid #FAC739;
          border-radius: 10px;
          margin: 0 10px;
     }



     &__cardUser {
          background: #FFFFFF;
          border: 1px solid #C4C4C4;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 20px;
          margin: 10px 100px 10px 100px;
 
     }

     &__cardContent {
          padding: 20px 20px;

     }

     &__cardHeader {
          display: flex;
          align-items: center;
     }

     &__cardAvatar {
          margin-right: 5px;
     }

     &__cardInfo {
     }

     &__cardName {
          margin-bottom: 5px;
     }

     &__cardStar {
     }

     &__cardtext {
          margin-top: 15px;
          font-size: 14px;
          line-height: 12px;
          color: #000000;
     }

     &__link {
          text-align: end;
          margin-right: 120px;

          a {
               color: #000;
          }

          a:hover {
               text-decoration: underline;
          }
     }
}





