@import '@/assets/styles/_variables.scss';

.header {
  background-color: $dark;
  color: #FFFFFF;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
  box-sizing: border-box;

  &__content {
    display: flex;
    align-items: center;
    height: 64px;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 55px;
  }

  &__logo {}

  &__menu {}

  &__menuNav {}

  &__menuList {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &__menuItem {}

  &__menuLink {
    font-size: 15px;
    padding: 18.5px 0;

    &_active {
      border-bottom: 4px solid $blue;
    }

    &:hover {
      border-bottom: 4px solid $blue;
    }
  }

  &__control {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  &__city {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  &__cityText {
    font-size: 15px;
  }

  &__cityIcon {}

  &__login {}

  &__loginBtn {
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 8px;
    border: 1px solid $blue;
    color: inherit;
    transition: all 0.2s ease-in;
    box-shadow: 2px 2px 19px 0px rgba(52, 144, 223, 0.25);
    cursor: pointer;

    &:hover {
      color: #fff;
      background-color: $blue;
    }
  }
}