@import '@/assets/styles/_variables.scss';

.profileMenu {
  position: relative;
  &__photo {

  }

  &__menu {
    position: absolute;
    top: 65px;
    right: 0;
    transform: translateY(-10%);
    transition: all .2s ease-in;
    z-index: 1000;

    &_active {
      opacity: 1;
      pointer-events: all;
      transform: translate(0%);
    }

    &_unActive {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__wrapper {
    padding: 0px 0 10px 0;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.51);
    width: 250px;
    transition: all .4s ease-in;
    color: $colorText;
    font-size: 15px;
  }

  &__header {
    cursor: pointer;
    padding: 15px 0;

    &:hover {
     background-color: #edeff1;
     border-radius: 6px;
    }
  }

  &__name {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 16px;
    padding-left: 10px;
  }

  &__tools {
    margin-top: 10px;
    font-size: 12px;
    color: $grey;
  }

  &__buttons {
    padding-left: 10px;
    margin: 10px 10px 0 0;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex: 1 1 100%;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
    background-color: $blue;

    &:hover {
      background-color: $blueHover;
    }
  }

  &__main {
    margin-top: 10px;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
  }

  &__list {
    padding: 10px 0;

    li {
      padding-left: 10px;

      a {
        display: block;
        padding: 15px 0;
      }
      
      &:hover {
        background-color: #e3ecfe;
      }
    }
  }

  &__logout {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    color: red;
    padding-left: 10px;
    cursor: pointer;
  

    span {
      display: flex;
      padding: 15px 0;
      font-weight: 500;
    }

    &:hover {
      background-color: #ffe2e2;
    }
  }
}