.home {

     &__work {
          background: #EFF3F8;
     }
}

.mainScreen-home {
     
     margin-top: 50px;
     background-image: url("../../assets/Home/bg__search.jpg");
     height: 378px;

     box-shadow: 0px 3px 60px rgba(0, 0, 0, 0.2);

     &__search {
          margin-top: 150px;
          display: flex;
         
          align-items: center;
          flex-direction: column;
     }

     &__employers {

          margin-top: 10px;
          
          & a {
               font-weight: 700;
               font-size: 20px;
               line-height: 24px;
               color: #FFFFFF;
               text-decoration-line: underline;
          }

          & a:hover {
               text-decoration: none;
          }
     }

     &__bottom {
          display: flex;
          justify-content: space-between;
          margin-top: 60px;
          align-items: center;
     }


     &__stats {
          display: flex;
     }


     &__stat {
          margin-right: 20px;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          text-align: center;
          color: #FFFFFF;

          & span {
          font-weight: 800;
          font-size: 27px;
          line-height: 33px;
          }
     }

     &__buttonWrap {

          & a {
               color: #FFFFFF;
               border: 2px solid #FFFFFF;
               border-radius: 8px;
               padding: 7px 12px;
               font-weight: 600;
               font-size: 20px;
               line-height: 24px;
               transition: all 0.4s ease-in;
          }

          & a:hover { 
               color: #4d4c4c;
               border: 2px solid #ffffff;
               background-color: #ffffff;
          }
     }
}

.work-home {

		&__content {
               margin: 20px 0;
		}

		&__title {
               font-weight: 700;
               font-size: 22px;
               line-height: 27px;
               color: #000000;
               margin-top: 25px;
		}

		&__card {
               display: flex;
               flex-wrap: wrap;
               align-items: center;
               margin: 0 -15px;
		}

          &__link {
               text-align: end;
               margin-top: 10px;

               & a {
                    color: #BDBDBD;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    text-decoration-line: underline;

                    &:hover {
                         text-decoration-line: none;
                    }

               }


          }
}

.card-professions {

		&__item {
               padding: 0 15px;
               flex: 1 0 14%;
               margin-top: 20px;
		}

		&__body {
               background: #FFFFFF;
               box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.14);
               border-radius: 7px;
               padding: 10px 20px 30px 20px;
               display: flex;
               flex-direction: column;
               align-items: center;
               transition: all 0.1s ease-in;

               &:hover {
                    margin-top: -10px;
               }
		}

		&__icon {
		}

		&__title {
               font-weight: 700;
               font-size: 16px;
               line-height: 19px;
               text-align: center;
               color: #000000;
               margin: 10px 0 15px 0;
		}

		&__subTitle {
               font-weight: 500;
               font-size: 14px;
               line-height: 17px;
               text-align: center;
               color: #8E8E8E;
		}
}


.ribbon {
     
     margin-top: 50px;

     &__content {
          display: flex; 
          justify-content: space-between;
     }

     &__vacancies > * {
          margin-bottom: 40px;
     }

     &__ad {

     }
}