.card {
     flex: 0 1 33.333%;
	padding: 0px 15px;
     margin-bottom: 30px;

     &__content {
          border-left: 10px solid #d1d7fa;

          background: #F8F9FA;
          border-radius: 10px;
          height: 100%;
          box-shadow: 0 .125rem .25rem #00000013;
          padding: 33px 15px 33px 15px;
          position: relative;
          color: #020202; 
          transition: all 0.2s ease-in;

          &:hover {
               box-shadow: 0px 13px 19px #939394;
          }
     }



     &__title {
          font-weight: 900;
          font-size: 25px;
          line-height: 24px;
  
     }

     &__logo {
          position: absolute;
          top: 15px;
          right: 20px;
     }

     &__price {
          font-size: 16px;
          line-height: 19px;
          margin: 12px 0;
          font-weight: 500;
 
     }

     &__vacancies {
          margin-bottom: 17px;
          font-weight: 500;
     
     }

     &__about {
          font-size: 14px;
          line-height: 150%;
     }

}