.card {
     flex: 0 1 33.333%;
	padding: 0px 15px;
     margin-bottom: 30px;
     

     &__content {
          border-left: 10px solid #7cbbe7;

          background: #ffffff;
          border-radius: 10px;
          height: 100%;
          box-shadow: 0 .125rem .25rem #00000013;
          padding: 33px 15px 33px 15px;
          position: relative;
          color: #020202; 
          transition: all 0.1s ease-in;

          &:hover {
               margin-top: -7px;
               box-shadow: 5px 10px .25rem #00000013;
               border-left: 13px solid #3692DC;
          }
     }



     &__title {
          font-weight: 900;
          font-size: 22px;
          line-height: 24px;
  
     }

     &__logo {
          position: absolute;
          top: 15px;
          right: 20px;
     }

     &__price {
          font-size: 14px;
          line-height: 19px;
          margin: 12px 0;
          font-weight: 500;
 
     }

     &__vacancies {
          margin-bottom: 17px;
          font-weight: 500;
     
     }

     &__about {
          font-size: 13px;
          line-height: 150%;
     }

}