.headerProfile {


     padding: 20px 0px;
     align-items: center;
     border-bottom: 1px solid #C3C3C3;

     &__content {
          display: flex;
          justify-content: space-between;
          align-items: center;
     }

     &__logo {

     }

     &__link {

          a {
               padding: 15px 30px;
               color: #000000;
               border-radius: 5px;
               border: 1px solid #3692DC;
               transition: all 0.2s ease-in;

               &:hover {
                    background-color: #3692DC;
                    color: #ffffff;
               }
          }

     }
}