@import '@/src/assets/styles/_variables.scss';

.VCard {
  display: flex;
  border-radius: 10px;
  background: radial-gradient(1158.68% 136.02% at 0% 50%, #F9FCFF 14.59%, rgba(254, 244, 242, 0.44) 87.26%);
  box-shadow: 1px 1px 5px 0px rgba(208, 208, 208, 0.96);

  &__content {
    padding: 23px 35px;
  }

  &__title {
    font-size: 22px;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }

  &__salary {
    font-size: 17px;
    font-weight: 500;
    margin-top: 8px;
  }

  &__description {
    color: #2F2E2E;
    font-size: 15px;
    line-height: 140%; 
    letter-spacing: 0.15px;
    margin: 14px 0 21px 0;
  }

  &__tags {
    display: flex;
    gap: 8px;
  } 

  &__tagsRec {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFECEF;
    border-radius: 20px;
    padding: 5px 15px;
    gap: 5px;

    &_svg {}
  
    &_text {
      color: $pink;
      text-align: center;
      font-size: 13px;
    }
  }

  &__tagsElem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 5px 15px;
    gap: 5px;

    &_svg {}

    &_text {
      color: #363535;
      text-align: center;
      font-size: 12px;
    }
  }

  &__company {
    display: flex;
    margin: 20px 0 5px 0;
    gap: 6px;

    &_svg {}

    &_name {
      font-size: 14px;
      font-style: normal;
    }
  }

  &__adress {
    display: flex;
    gap: 6px;

    &_svg {}

    &_name {
      font-size: 14px;
      font-style: normal;
    }
  }
 
  &__button {
    margin-top: 20px;
    display: flex;
    gap: 20px;

    &_respond {
      border-radius: 7px;
      background: $blue;
      padding: 10px 15px;
      color: #FFF;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: $blueHover;
      }
    }

    &_checkphone {
      border-radius: 7px;
      background: #e9e9e9;
      color: #050505;
      font-size: 16px;
      padding: 10px 20px;
      cursor: pointer;

      &_text {
        user-select: none;
      }
    }
  }
}