@import '@/assets/styles/_variables.scss';

.title {
  display: inline-flex;
  color: $darkBlue;
  font-size: 26px;
  font-weight: 800;
  margin-top: 30px;
  border-bottom: 2px dashed $blue;
  padding-bottom: 10px;
}
