@import '@/assets/styles/_variables.scss';

.vacancies {
  margin: 75px 0;

  &__about {
  }

  &__ribbon {
  }
}

.about {
  &__wrapper {
    display: flex;
    gap: 40px;
  }

  &__info {
    flex: 1 0 75%;
  }

  &__header {
    display: flex;
    margin-top: 20px;
    gap: 100px;
  }

  &__name {
    color: $darkBlue;
    font-weight: 900;
    font-size: 40px;
    line-height: 120%;
    padding-bottom: 15px;
    margin-top: 20px;
    border-bottom: 1px dashed $grey;
  }

  &__requirements {
  }

  &__item {
    display: flex;

    & > *:not(:last-child) {
      margin-bottom: 10px;
    }

    &_title {
      color: $grey;
      margin-right: 7px;
      width: 120px;
    }

    &_subTitle {
    }
  }

  &__dateStart {
    margin: 10px 0;
    color: $grey;
  }

  &__sideBar {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    align-self: flex-start;
  }

  &__salary {
    font-size: 23px;
    font-weight: 800;
    text-align: center;
    margin: 30px 0 20px 0;
  }

  &__control {
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    border-radius: 10px;

    width: 100%;

    cursor: pointer;

    &_responds {
      background: $blue;
      color: #fff;
      padding: 12px 0;
      font-size: 16px;

      &:hover {
        background-color: $blueHover;
      }
    }

    &_favorites {
      border: 1px solid $grey;
      margin: 15px 0;
      padding: 10px 0;

      svg {
        fill: transparent;
        stroke: #565656;
        stroke-width: 25;
      }

      &:hover {
        border: 1px solid $blue;
        svg {
          stroke: $blue;
          cursor: pointer;
        }
      }

      svg:hover {
        stroke: $blue;
        cursor: pointer;
      }
    }

    &_favoritesActive {
      border: 1px solid $blue;
      svg {
        fill: $blue;
        stroke: $blue;
      }
    }

    &_report {
      border: 1px solid $grey;
      padding: 10px 0;

      &:hover {
        border: 1px solid #9f9e9e;
        svg {
          stroke: #565656;
          cursor: pointer;
        }
      }

      svg {
        fill: transparent;
        stroke: #565656;
        stroke-width: 10;
      }
    }
  }

  &__dateResponse {
    text-align: center;
    color: green;
    margin-bottom: 30px;
    margin-top: 15px;
  }

  &__phone {
    border-radius: 10px;
    border: 1px solid #dedede;
    background: #f3f3f3;
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }

  &__companyCard {
    margin-top: 25px;
  }

  &__companyWrapper {
    border-radius: 10px;
    border: 1px solid #dbd7d7;
    padding: 15px;
  }

  &__companyHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      margin-left: 5px;
    }
  }

  &__companyName {
    display: flex;
    align-items: center;
    gap: 7px;
    color: #328ee3;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__companyLogo {
  }

  &__contactItem {
    line-height: 150%;
    font-size: 15px;
    margin: 10px 0 16px 0;
    font-weight: 500;

    &_title {
      font-weight: 300;
      color: #717070 !important;
    }
  }

  &__countVacancies {
    margin-bottom: 20px;
  }

  &__reiting {
    display: flex;
    align-items: center;

    p {
      color: $blue;
      text-decoration-line: underline;
      margin-left: 10px;
      cursor: pointer;

      &:hover {
        text-decoration-line: none;
      }
    }
  }

  &__tags {
    margin: 25px 0;
  }

  &__description {
    margin: 30px 0;
  }

  &__textBlock {
    margin-bottom: 20px;

    p {
      text-align: justify;
      line-height: 150%;
    }
  }

  &__title {
    color: $darkBlue;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 15px;
    margin-top: 50px;
  }

  &__skills {
  }

  &__skillsBlock {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }

  &__skillsTitle {
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 6px;
  }

  &__skillsItem {
    border-radius: 5px;
    border: 1px solid $blue;
    padding: 5px 10px;
  }

  &__map {
    margin-top: 50px;

    p {
      margin-bottom: 10px;
    }

    iframe {
      border-radius: 20px;
    }
  }
}

.ribbon {
  &__wrapper {
    display: flex;
    gap: 40px;
    margin-top: 50px;
  }

  &__title {
    color: $darkBlue;
    font-size: 20px;
    font-weight: 800;
  }

  &__content {
    flex: 1 0 75%;

  }

  &__vacancies {
    margin-top: 30px;
    & > * {
      margin-bottom: 30px;
    }
  }

  &__aside {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
  }
}
