.send {

     &__button {
          background-color: #f35f7a;
          border-radius: 15px;
          width: 307px;
          height: 42px;
          color: #fff;
          font-size: 17px;
          padding: 10px 0;
          transition: all 0.2s ease-in;
     }

     &__button:hover {
          background-color: #ff3b5f;
     }
}