.send {

     &__button {
          background-color: #57B68E;
          border-radius: 15px;
          width: 307px;
          height: 42px;
          color: #fff;
          font-size: 17px;
          padding: 10px 0;
          transition: all 0.2s ease-in;
     }

     &__button:hover {
          background-color: #3d8265;
     }
}