.employers {

    &__top {

    }

    &__info {
    }
}

.top-employers {

    background: #F2F9FF;

    &__container {
        position: relative;
    }
 
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        font-weight: 900;
        font-size: 50px;
        line-height: 61px;
        text-align: center;
        color: #041A36;
        margin-top: 100px;
        z-index: 1;
    }

    &__subTitle {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #041A36;
        margin: 30px 0 54px 0;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        margin-bottom: 40px;
    }

    &__button {
        margin-right: 50px;
        width: 250px;
        text-align: center;
        border-radius: 20px;
        transition: all 0.4s ease-out;
        border: 1px solid #328EE3;

        a {
            display: block;
            font-size: 17px;
            line-height: 21px;
            color: #fff;
            padding: 15px 30px;
            width: 100%;
        }
    }

    &__button_blue {

        background: #328EE3;

        &:hover {
            background: none; 
            & a {
                color: #000000;
            }
        }
    }


    &__button_transparent {

        a {
            color: #000000;
        }

        &:hover {
            background: #328EE3; 

            & a {
                color: #ffffff;
            }
        }
    }


    &__text-disc {

        width: 300px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 50px;

        & span {
            font-size: 14px;
            line-height: 17px;
            color: #041A36;
        }

    }

    &__pattern {
        position: absolute;

        &_line {
            width: 1400px;
            top: 0px;
            left: 30px;
        }

        &_img1 {
            top: 0px;
    
        }

        &_img2 {
            bottom: 0px;
            right: -40px;
        }
}

}

.info-employers {

    &__container {
        position: relative;
    }

    &__content {
        margin-bottom: 126px;
    }

    &__pattern {
        position: absolute;

        &_arrow1 {
            top: 139px;
            right: 312px;
        }

        &_arrow2 {
            bottom: -69px;
            left: 272px;
        }

        &_top {
            top: 0;
        }

        &_rightTop {
            top: 0;
            right: 0;
        }

        &_leftBottom {
            bottom: -141px;
        }

        &_centerBottom {
            bottom: -99px;
            left: 710px;
        }

        &_rightBottom {
            bottom: -170px;
            right: 0;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: #041A36;
        padding-top: 60px;
        margin-bottom: 60px;
    }

    &__card {
        display: flex;
        flex-wrap: nowrap;
        margin: 0 -15px;
    }
}
.card-info-employers {

    &__item {
        flex: 1 0 33%;
        padding: 0 15px;
      

    
    }

    &__body {
        border: 1px solid #DAD6D6;
        border-radius: 10px;
        padding: 20px;
        height: 100%;
        transition: all 0.4s ease-in;

    }

    &__number {
        font-size: 60px;
        line-height: 73px;
        text-align: center;
 
       

        & span {
            border: 1px solid #0085FF;
            color: #FFFFFF;
        }
    }

    &__title {
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: #041A36;
        margin-bottom: 50px;
    }

    &__subTitle {
        font-size: 19px;
        line-height: 23px;
        text-align: center;
        color: #5F5F5F;
        width: 300px;
        margin: 0 auto;
        padding-bottom: 30px;
     
    }
}


.money-employers {


    &__body {
        margin: 80px 0 80px 0;
    }

    &__title {
        text-align: center;
            font-size: 40px;
            font-weight: bold;
            color: #000000;
            margin-bottom: 30px;
            
    }

    &__card {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -15px;
    }

    &__cardItem {
        padding: 0 15px;
        flex: 1 0 33%;
    }

    &__cardContent {
        padding: 30px 40px;
        display: flex;
        flex-direction: column;
        border: 1px solid #e9e6e6;
        background-color: #ffffff;
        border-radius: 31px 31px 10px 10px;
        min-height: 100%;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    }

    &__cardTitle {
        font-size: 25px;
        line-height: 29px;
        color: #030303;

    }

    &__cardSubTitle {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        color: #3495db;
        margin-top: 10px;
    }

    &__cardSubTitleNumber {
        font-size: 50px;
        margin-right: 10px;
    }
    
    &_red {
        color: #f16b84;
    }

    &_redStrong {
        color: #eb193f;
    }

    &__cardSubTitleDescription {
        font-size: 15px;
        line-height: 20px;
    }

    &__cardList {
        display: flex;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        & > *:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__cardListBlock {
        display: flex;
        p {
            margin-left: 10px;
            font-size: 17px;
            line-height: 125%;
            color: #000000;
            
        }

    }

    &__cardFooter {
        margin-top: 50px;
        font-size: 20px;

        & > * {
            margin-bottom: 10px;
        }
    }

    &__cardFooterPrice {
    }

    &__cardFooterTime {
        font-size: 15px;
    }

    &__button {
        display: flex;
        margin-top: 25px;
        
        button {
            flex: 1 1 auto;
            padding: 20px;
            background-color: #3692DC;
            color: #fff;
            border-radius: 10px;
        }
    }
}


.help {
    max-height: 590px;
    flex-grow: 1;
    flex-basis: 590px;
    flex-shrink: 1;
    margin: 0 0 60px 0;

    &__container {
        max-height: 590px;
        height: 590px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #e9e7e7;
        border-radius: 50px;
        box-shadow: 5px 5px 10px #52515140;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.73), rgba(255, 255, 255, 0.73)), linear-gradient(269.69deg, rgba(15, 148, 255, 0.58) 21.34%, #FFFFFF 99.71%);
    }

    &__title {
        display: inline-block;
        font-size: 40px;
        font-weight: bold;
        color: #000000;
        margin-top: 40px;
       
        text-align: center;
    }

    .hbody {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        align-items: center;
        justify-content: space-between;
        margin-top: 70px;

        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-right: 90px;
            height: 340px;
        }

        &__text-title {
            font-size: 30px;
            color: #1d1d1d;
            width: 459px;
            text-align: center;
            font-weight: 500;
        }

        &__text-desc{
            font-size: 20px;
            color: #294936;
            width: 459px;
            text-align: center;
            margin-bottom: 30px;
        }

        .contact {
            display: flex;
            justify-content: center;
            height: 100px;
            margin-bottom: 40px;

            &__text {
                font-size: 18px;
                font-weight: bold;
                text-decoration: underline;
                text-align: center;
            }

            &__text2 {
                font-size: 18px;
                font-weight: bold;
                text-decoration: underline;
                text-align: center;
                align-self: center;
            }
        }
    }

    &__forms {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 340px;
        margin-top: 10px;
    }
}

.form {
    &__text {
        width: 459px;
        font-size: 14px;
        text-align: center;
        margin-bottom: 20px;
    }
}






