.ad__wrapper {
     width: 284px;
     background: linear-gradient(0deg, rgba(213, 235, 255, 0.5) 0%, #FFFFFF 58.01%);
     border: 1px solid #CBCBCB;
     box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
     border-radius: 10px;
     margin-bottom: 40px;
}

.ad__body {
     margin-left: 19px;
}

.ad__title {
     font-weight: 500;
     font-size: 23px;
     line-height: 30px;
     color: #474747;
     margin-top: 15px;
}


.ad__sub_title {
     font-weight: 300;
     font-size: 14px;
     line-height: 33px;
     color: #474646;
}

.ad__button {
     margin-top: 22px;
     margin-bottom: 60px;

     a {
          background: #FD7791;
          border-radius: 7px;
          font-size: 16px;
          line-height: 19px;
          color: #FFFFFF;
          padding: 8px 16px;
          transition: all 0.2s ease-in;
     }

     a:hover {
          background: #fa92a7;   
     }
}

.ad__bottom {
     display: flex;
     align-items: center;
}

.ad__bottom img {
     z-index: -1;
}


.ad__description{
     margin-left: 25px;
     font-size: 14px;
     line-height: 17px;
     color: #939393;
}