.userProfile {

		&__reviews {
		}
}
.reviews-userProfile {

		&__list {
               width: 500px;
               border: 1px solid #a5a4a4;
               padding: 20px;
               color: #555555;
		}
}
