.professions {
     background: #F3F5F9;
     &__title {
          margin-top: 40px;
          font-weight: 800;
          font-size: 35px;
          line-height: 36px;
          color: #232323;
     }

     &__search {
          display: inline-flex;
          padding: 30px 0 20px 0;
          border-radius: 10px;
          margin-bottom: 20px;


          input {
               width: 350px;
               padding: 7px 10px;
               border: 1px solid #B4B1B1;
               border-radius: 10px 0 0 10px;
          }
     }

     &__btn {
          background: #3692DC;
          border: 1px solid #3692DC;
          border-radius: 0 10px 10px 0;
          display: flex;


          button {
               padding: 6px 20px;
               color: #fff;
               font-size: 17px;
               line-height: 24px;
               
          }
     }

     &__card {
          display: flex;
          flex-wrap: wrap;
          margin: 0px -15px;
     }
}