.form {
    
    &__area {
        height: 149px;
        border: 1px solid #C2BFBF;
        border-radius: 15px;
        width: 552px;
        background: #ffffff;
        padding: 10px;
        resize: none;
    }
}