

.input__btn {
    height: 47px;
    width: 265px;
    background-color: #EFEFFF;
    border-radius: 7px;

}

.input__btn:hover {
    height: 47px;
    width: 265px;
    background-color: #C8C7FF;
    border-radius: 7px;
}