@import '@/assets/styles/_variables.scss';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999999;
  opacity: 0;
  pointer-events: none;
  transition: background-color 0.2s ease-in;
  display: flex;
  justify-content: flex-end;

  &__content {
    position: relative;
    border-radius: 7px;
    background: #fff;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.03);
    height: 100vh;
    width: 750px;
    overflow-y: scroll;
  }

  &__active {
    transform: translateX(0%);
    opacity: 1;
    pointer-events: all;
  }

  &__unactive {
    transform: translateX(100%);
    opacity: 0;
  }
}
