
.header {
     position: fixed;
     background-color: #0D1117;
     color: #fff;
     top: 0;
     width: 100%;
     z-index: 9999;
     box-sizing: border-box;
    

     &__content {
          display: flex;
          align-items: center;
          justify-content: space-between;

          
     }

     &__left {
          display: flex;
          align-items: center;
     }

     &__logo {
     }

     &__menu {
     }

     &__right {
          display: flex;
          align-items: center;
     }

     &__city {
          margin-right: 45px;
          display: flex;
          align-items: center;
     }

     &__city:hover {
          text-decoration: underline;
     }

     &__city span {
          padding-right: 10px;
     }

     &__login a {
          padding: 10px 20px;
          border-radius: 8px;
          border: 1px solid #4B62EA;
          color: inherit;
          transition: all 0.2s ease-in;
          box-shadow: 2px 2px 5px #e9e3e340;
          
     }

     &__login a:hover {
          color: #fff;
          background-color: #4B62EA;
          
     }

}

.menu {

     &__list {
          display: flex;
          align-items: center;
          margin-left: 10px;
     }

     &__item { 
          margin-right: 5px;
          text-align: center;
     }

     &__link {
          line-height: 21px;
          display: flex;
          width: 148px;
          justify-content: center;
     
          transition: all 0.2s ease-in;

          a {
               color: inherit;
               display: flex;
               justify-content: center;
               padding: 21px 0px;
               width: 148px;
          }

          a:hover {
               border-bottom: 5px solid #4B62EA;
               
          }
     }
}

.inactive {
     border-bottom: 5px solid #0D1117;
}

.active__globalNavigation {
     border-bottom: 5px solid #4B62EA;

}


