@import '@/assets/styles/_variables.scss';

.company {
  margin: 100px 0;

  &__wrapper {
    display: flex;
    gap: 74px;
    margin-top: 50px;
  }

  &__content {
    flex: 1 1 100%;
  }

  &__logo {
    img {
      border-radius: 100px;
    }
  }

  &__mainInfo {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    color: $darkBlue;
    font-size: 35px;
    font-weight: 700;
  }

  &__fullInfo {
    margin: 50px 0;
  }

  &__fullWrapper {
    display: flex;
    gap: 60px;
  }

  &__fullBlock {
    display: flex;
    align-items: center;
  }

  &__label {
    width: 200px;
    color: $grey;
  }

  &__fullLeft {
    & > *:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__fullRight {
    & > *:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__sidebarWrapper {
    box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px 50px;
    margin-bottom: 40px;
  }

  &__barBlock {
    display: block;
    color: $blue;
    text-align: center;
    min-width: 150px;

    &:hover {
      color: $blueHover;
    }

    h2 {
      font-size: 30px;
      font-weight: 900;
      margin-bottom: 10px;
      letter-spacing: 1.5px;
    }

    span {
      line-height: 120%;
    }
  }
  
  &__edit {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: $blue;
    cursor: pointer;
    margin-top: 15px;
    font-weight: 500;

    &:hover {
      color: $blueHover;
    }
  }

  &__add {
    margin-top: 15px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: $pink;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    &:hover {
      color: $pinkHover;
    }
  }

  &__blockTitle {
    font-weight: 700;
    font-size: 24px;
    color: $darkBlue;
    margin-bottom: 15px;
  }

  &__blockSubTitle {
    font-size: 14px;
    color: $grey;
    line-height: 150%;
  }

  &__blockList {
    &_active {
      display: block;
    }

    &_unactive {
      display: none;
    }
  }
}