.userProfile {

		&__resume {
		}
}
.resume-userProfile {

		&__content {
		}

		&__header {
               display: flex;
               margin-top: 25px;
		}

		&__left {
               flex: 1 0 30%;
              
		}

          &__right {
               flex: 1 0 50%;
		}

		&__name {
               font-weight: 700;
               font-size: 40px;
               line-height: 48px;
               color: #000000;
               margin-bottom: 10px;
		}

		&__profefession {
               font-size: 17px;
               line-height: 21px;
               color: #000000;
               margin-bottom: 9px;
               font-weight: 500;
		}

		&__money {
               display: flex;
               font-weight: 500;
               font-size: 17px;
               line-height: 21px;
               color: #000000;
               margin-bottom: 30px;
		}

		&__photo {
               display: flex;
               margin-bottom: 21px;

               & > * {
                    margin-right: 17px;
               }
		}

		&__newPhoto {

               display: flex;

               & > * {
                    margin-right: 10px;
               }
		}



		&__block {
                display: flex;
                margin-bottom: 10px;


                &_red {
                    display: flex;
                    font-size: 17px;
                    line-height: 21px;
                    color: #DA435F;
                    margin-top: 20px;
                    
                    & div {
                         margin-left: 7px;
                    }
			}
		}

		&__blockTitle {

		}

          &__Info {
               font-size: 17px;
               line-height: 21px;
               color: #7E7E7E;
               width: 200px;

               &_photo {
                    width: 300px;
                    
               }
          }


          &__body {
               margin-top: 30px;
               padding-top: 30px;
               display: flex;
               border-top: 1px solid #b3b3b3;
               flex-wrap: wrap;
              
          }

          &__item {
               flex: 1 0 40%;
               margin-bottom: 50px;

          }

          &__itemTitle {
               font-weight: 600;
               font-size: 25px;
               line-height: 30px;
               color: #000000;
 
          }

          &__itemSubTitle {
               font-size: 17px;
               line-height: 21px;
               color: #7E7E7E;
               width: 400px;
               margin-top: 17px;
               margin-bottom: 30px;
          }

          &__itemAdd {
               display: flex;
               align-items: center;

               & span {
                    font-size: 17px;
                    line-height: 21px;
                    color: #DA435F;
                    margin-left: 6px;
               }

          }

          &__footer {
               display: flex;
               align-items: center;
               border-top: 1px solid #b3b3b3;
               padding-top: 30px;
          }

          &__footerButton {
               padding: 10px 20px;
               border-radius: 7px;
               margin-right: 15px;
               transition: all 0.2s ease-in;

               &_save {
                    background-color: #328EE3;
                    color: #ffffff;

                    &:hover {
                         background-color: #64aaeb;
                    }
               }

               &_back {
                    background-color: #ffffff;
                    border: 1px solid #328EE3;

                    &:hover {
                         border: 1px solid #1762a8;
                    }
               }

               &_download {
                    color: #328EE3;

                    &:hover {
                         text-decoration: underline;
                    }
               }

               &_delete {
                    color: #DA435F;

                    &:hover {
                         text-decoration: underline;
                    }
               }
          }
}
