@import '@/assets/styles/_variables.scss';

.notFound {
  margin: 40px 0;

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    color: $darkBlue;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
  }

  &__subTitle {
    margin-top: 30px;
    font-size: 15px;
  }

  &__footer {
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__button {
    padding: 15px 60px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;

    &_toBack {
      background-color: $blue;
      &:hover {
        background-color: $blueHover;
      }
    }

    &_toHome {
      background-color: #e3e3e3;
      color: $colorText;
      &:hover {
        background-color: #dbd9d9;
      }
    }
  }
}
