.userProfile {

	&__courses {
	}

}
.courses-userProfile {
          

		&__coursesList {
               display: flex;
               flex-wrap: wrap;
      
               & > * {
                    flex: 1 0 50%;
               }
		}
}
