@import '@/assets/styles/_variables.scss';

.editModal {
  margin-top: 30px;

  &__titleModal {
    font-size: 24px;
    font-weight: 700;
  }

  &__formContent {
    margin-bottom: 15%;
    padding: 10px 30px 30px 40px;

    & > *:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__label {
    margin-bottom: 15px;
  }

  &__error {
    display: block;
    color: red;
    margin-top: 7px;
    font-size: 12px;
  }

  &__required {
    color: red;
  }

  &__select {
    flex: 1 1 100%;

    & > * {
      flex: 1 1 100%;
    }
  }

  &__dateBlock {
    display: flex;
    align-items: center;
  }

  &__dateLabel {
    display: flex;
    gap: 3px;
    width: 250px;
  }

  &__required {
    color: red;
  }

  &__inputs {
    display: flex;
    gap: 15px;
    width: 100%;

    input {
      border: 1px solid $grey;
      border-radius: 6px;
      width: 100px;
      padding: 5px;
    }
  }

  &__label {
    margin-bottom: 15px;
  }

  &__textarea {
    textarea {
      height: auto;
      min-height: 200px;
      min-width: 100%;
      border-radius: 8px;
      border: 1px solid $grey;
      font-size: 14px;
      background-color: #fff;
      padding: 15px 0 15px 15px;
      margin: 0;
      box-shadow: none;
      line-height: 150%;
      font-size: 15px;

      &:focus {
        border: 1px solid $blue;
      }
    }
  }

  &__footerError {
    display: block;
    color: red;
    margin-left: 20px;
  }

  &__saveButton {
    background-color: $blue;
    padding: 10px 30px;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;

    &:hover {
      background-color: $blueHover;
    }
  }

  &__resetButton {
    cursor: pointer;
  }

  &__modalFooter {
    position: fixed;
    width: 750px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #fff;
    padding: 30px 30px 30px 40px;
    box-shadow: 0 -10px 25px rgba(46, 59, 99, 0.08);
  }

  &__footerWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__deleteButton {
    color: red;
    cursor: pointer;
    margin-right: 80px;
  }
}
