.navigation {

     border-radius: 20px;
     display: flex;
     justify-content: center;
     align-items: center;


     &__link_user {
          padding: 15px 50px;
          font-weight: 700;
          font-size: 16px;
          line-height: 13px;
          color: #6D6D6D;
          border-radius: 20px 0 0 20px;
          border: 1px solid #B7B7B7;
          transition: all 0.2s ease-in;
     }

     &__link_employer {
          padding: 15px 50px;
          font-weight: 700;
          font-size: 16px;
          line-height: 13px;
          color: #6D6D6D;
          border-radius: 0px 20px 20px 0px;
          border: 1px solid #B7B7B7;
          transition: all 0.2s ease-in;

     }
     &__link_user:hover {
          background: #328EE3;
          border: 1px solid #328EE3;
          color: #fff;

     }

     &__link_employer:hover {
          background: #328EE3;
          border: 1px solid #328EE3;
          color: #fff;
     }
}

.active {
     background: #328EE3;
     color: #fff;
     border: 1px solid #328EE3;
}