@import '@/assets/styles/_variables.scss';

.reviews {
  margin-bottom: 50px;
  min-height: 80vh;

  &__header {
  }

  &__wrapper {
    margin-top: 50px;
    width: 1000px;
  }

  &__item {
    & > *:not(:first-child) {
      margin-bottom: 55px;
    }
  }

  &__panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__company {
    font-weight: 700;
    font-size: 24px;
    color: $darkBlue;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__delete {
    color: red;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
