.btn__link {

     background-color: #328EE3;
     border-radius: 20px;
     display: inline-flex;
     transition: all 0.4s ease-out;
     justify-content: center;

     .link {
          display: block;
          padding: 7px 20px;
          font-size: 15px;
          line-height: 21px;
          color: #fff;
          width: 100%;
     }
}

.btn__link:hover {
     background-color: #4B62EA;

}