.vacancies__card {
     background: radial-gradient(116.58% 1156.56% at 0% 50%, #EDF5FC 14.59%, rgba(255, 220, 216, 0.44) 87.26%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
     border: 1px solid #CCCCCC;
     box-shadow: 10px 12px 7px rgba(0, 0, 0, 0.15);
     border-radius: 20px;
     margin-right: 130px;
     font-size: 17px;
     position: relative;
     

     .card__patterns_top {
          position: absolute;
          top: 0;
          left: 300px;
     }

     .card__patterns_bottom {
          position: absolute;
          bottom: 0;
          left: 600px;
     }

     .content {
          padding: 23px 35px;
     }

     .card__title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-weight: 700;
          font-size: 20px;
          line-height: 27px;
          color: #000000;

     }

     .card__price {
          font-size: 17px;
          margin-top: 7px;
          margin-bottom: 15px;
          font-weight: 600;
          color: #000000;
     }

     .card__about {
          font-size: 14px;
          line-height:  140%;
          letter-spacing: 0.01em;
          color: #2F2E2E;
          margin-bottom: 20px;
     }

     .card__company {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          font-size: 14px;
          font-weight: 500;
     }

     .card__map {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          font-size: 14px;
          font-weight: 500;
     }

     .card__company:hover {
          text-decoration: underline;
     }

     .card__company > *:not(:last-child), .card__map > *:not(:last-child)  {
          margin-right: 6px;
     }

     .button > *:not(:last-child) {
          margin-right: 18px;
     }

     .card__bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
     }

     .card__logo img {
          width: 50px;
          border-radius: 10px;
     }

     .card__favorites *:hover {
          fill: #3490DF;
     }

}