.vacancies__card {
     border: 1px solid #BBB3B3;
     border-radius: 10px;
     margin-right: 80px;
     font-size: 17px;
     position: relative;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

     .card__patterns_top {
          position: absolute;
          top: 0;
          left: 300px;
     }

     .card__patterns_bottom {
          position: absolute;
          bottom: 0;
          left: 700px;
     }

     .content {
          padding: 23px 35px;
     }

     .card__title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 22px;
          font-weight: 900;

     }

     .card__price {
          margin-top: 7px;
          margin-bottom: 25px;
          font-weight: 600;
     }

     .card__about {
          font-size: 17px;
          line-height: 21px;
          margin-bottom: 25px;
     }

     .card__company {
          margin-bottom: 10px;
          font-weight: 500;
     }

     .card__company:hover {
          text-decoration: underline;
     }

     .card__company > *:not(:last-child), .card__map > *:not(:last-child)  {
          margin-right: 6px;
     }

     .card__map {
          margin-bottom: 35px;
          font-weight: 500;
     }

     .button > *:not(:last-child) {
          margin-right: 18px;
     }

}