html,
body, 
#root {
   height: 100%;
   line-height: 1;
   font-weight: 400;
   color: #393939;
   font-size: 17;
   font-family: 'Inter', sans-serif;
}



.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.page {
   flex: 1 1 auto;
   display: flex;
   flex-direction: column;
   
   & > *:first-child {
      margin-top: 60px ;
   }
}

[class*="__container"] {
   max-width: 1300px;
   padding: 0px 15px;
   margin: 0px auto;
   width: 100%;
}

[class*="__containerProfile"] {
   max-width: 1400px;
   padding: 0px 15px;
   margin: 0px auto;
   width: 100%;
}

.inactive__globalNavigation {
   border-bottom: 5px solid #0D1117;
}

.active__globalNavigation {
   border-bottom: 5px solid #3490DF;

}

.active__profileNavigation {
   background-color: #3692DC;
   color: #fff !important;
}

.inactive__profileNavigation {
   background-color: none;
}