@import '@/assets/styles/_variables.scss';

.tagBlock {
  display: flex;
  gap: 8px;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #dcdbdb;
    border-radius: 20px;
    padding: 5px 15px;
    gap: 5px;
  }

  &__name {
    color: #363535;
    text-align: center;
    font-size: 12px;
  }

  &__proItem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffecef;
    border-radius: 20px;
    padding: 5px 15px;
    gap: 8px;
  }

  &__proName {
    color: $pink;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
  }
}
