@import '@/assets/styles/_variables.scss';

.aboutInfo {
  margin-top: 30px;

  &__titleModal {
    font-size: 24px;
    font-weight: 700;
  }

  &__formContent {
    margin-bottom: 15%;
    padding: 10px 30px 30px 40px;

    & > *:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__textarea {
    height: auto;
    min-height: 400px;
    min-width: 100%;
    max-width: 100%;
    border-radius: 8px;
    border: 1px solid $grey;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 15px;
    margin: 0;
    box-shadow: none;
    line-height: 150%;
    font-size: 15px;

    &:focus {
      border: 1px solid $blue;
    }
  }

  &__size {
    text-align: end;
    color: $grey;
    margin-top: 10px;
  }

  &__footerError {
    display: block;

    color: red;
    margin-left: 20px;
  }

  &__saveButton {
    background-color: $blue;
    width: 130px;
    padding: 10px 0;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;

    &:hover {
      background-color: $blueHover;
    }
  }

  &__resetButton {
    cursor: pointer;
    font-size: 15px;
  }

  &__modalFooter {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #fff;
    padding: 30px 30px 30px 40px;
    box-shadow: 0 -10px 25px rgba(46, 59, 99, 0.08);
  }
}
