.card {
     transition: all 0.2s ease-in;
     flex: 0 1 33.333%;
	padding: 0px 15px;
     margin-bottom: 30px;

     &__content {
         background-color: #fff;
          border: 1px solid #B7B4B4;
          box-shadow: 1px 1px 10px #c5c3c3;
          border-radius: 15px;
          height: 100%;
          padding: 17px 17px 25px 17px;
          position: relative;
          color: #000;
          transition: all 0.2s ease-in;

          &:hover {
               box-shadow: 7px 3px 10px #d4d4d6;
               color: #000;
               border-left: 10px solid #3692DC;
          }
     }

     .card__name span, .card__vacancies span, .card__location span {
          margin-left: 4px;
     }

     .card__name, .card__vacancies, .card__location {
          display: flex;
          align-items: center;
     }



     &__title {
          font-weight: 900;
          font-size: 20px;
          line-height: 24px;

          img {
               border-radius: 10px;
          }
  
     }

     &__name {
          display: flex;
          align-items: center;

          h3 {
               margin-left: 5px;
          }
     }

     &__logo {
          position: absolute;
          top: 15px;
          right: 20px;
     }

     &__location {
          font-size: 16px;
          line-height: 19px;
          margin: 12px 0 30px 0;
          font-weight: 500;
 
     }

     &__vacancies {
          margin-bottom: 17px;
          font-weight: 500;
          margin: 19px 0 0 0;

          &:hover {
               text-decoration: underline;
          }
     }

     &__about {
          font-size: 14px;
          display: flex;
          align-items: center;


          img {
               margin-right: 3px;
          }

          span {
               margin-left: 5px;
               color: #3692DC;
               font-weight: 500;
               text-decoration: underline;
          }

          span:hover {
               text-decoration: none;
          }
     }

}